.room-map-host {
  margin: 0 auto 50px;
  position: relative;
}

.room-map-name {
  color: #F25821;
}

.room-map-seat-container {
  margin: auto;
  border: 1px solid black;
  text-align: center;
}

.lecture-hall {
  width: 640px;
  height: 400px;
  padding-top: 20px;
  box-sizing: border-box;
}

.room-map-row {
  margin-bottom: 8px;
}

.vertical-seat {
  width: 28px;
  height: 35px;
  padding-top: 10px;
}

.horizontal-seat {
  width: 35px;
  height: 28px;
  padding-top: 7px;
}

.room-map-row-label ,.room-map-seat, .room-map-seat-taken {
  background-color: #e8e2dd;
  color: #f25821;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin-right: 5px;
}

.room-map-seat, .room-map-seat-taken {
  color: white;
  background-color: #f25821;
  position: relative;
}

.room-map-seat-taken::after, .room-map-seat:hover::after {
  content: '\f00c';
  font-family: FontAwesome;
  font-size: 2em;
  color: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.room-map-screen {
  width: 600px;
  height: 35px;
  background-color:lightgrey;
  text-align: center;
  padding-top: 12px;
  box-sizing: bordder-box;
  margin: 60px auto 30px;
}

.room-map-table {
  width: 150px;
  height: 280px;
  background-color: red;
  margin: 80px auto;
}